@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
/*
    font-family: 'Overpass', sans-serif;

    font-family: 'Ubuntu', sans-serif;*/

*,*::before,*::after{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-size:var(--body-font);
}
html{
	font-size:100%;
}
:root{
	--primary-red:hsl(356, 100%, 66%);				/*CTA*/
	--primary-light-red:hsl(355, 100%, 74%);		/*CTA Hover Background*/
	--primary-dark-blue:hsl(208, 49%, 24%);			/*Headings*/
	--neutral-gray-blue:hsl(240, 2%, 79%);			/*footer text*/
	--neutral-dark-gray-blue:hsl(207, 13%, 34%);	/*body copy*/
	--neutral-dark-black-blue:hsl(240, 10%, 16%);	/*footer background*/
	--intro-cta-gradient:linear-gradient(to right, var(--primary-light-red), var(--primary-red));
	--background-gradient:linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%) );
	--border-radius: 6.25rem ;
	--main-head:3rem;
	--sub-head: 2rem;
	--h2-head: 1.375rem;
	--body-font: 1rem;
}
body{
	background:#fafafa;
	overflow-x:hidden;
}
/*Global styles*/
.main-head{
	font-size:var(--main-head);
	font-family: 'Ubuntu', sans-serif;
}
p{
	font-family: 'Overpass', sans-serif;
	color:var(--primary-dark-blue);
}
.sub-head{
	font-size: var(--sub-head);
	color:var(--primary-dark-blue);
	font-family: 'Overpass', sans-serif;
	font-weight:600;
}
h2{
	font-size:var(--h2-head);
	color:var(--primary-dark-blue);
	font-family: 'Overpass', sans-serif;
	font-weight:600;
}
a,button{
	font-family: 'Overpass', sans-serif;
	font-weight: 600;
	color:#fff;
	text-decoration:none;
	display: inline-block;
	outline:none;
}
button{
	background:none;
	border:0;
	cursor:pointer;
}
li{
	list-style-type: none;
}
.logo img{
	width: 100%;
}


header{
	position: absolute;
	width:100%;
	padding: 2rem 10rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
	z-index:100;
}
.wrapper{
	display: flex;
	justify-content: space-between;
}
.dropdown{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product, .company, .connect{
	position: relative;
	margin-right: 3.5rem;
}
#myDropdown1, #myDropdown2, #myDropdown3{
	width:10rem;
	display: flex;
	flex-direction:column;
	position: absolute;
	background:#fff;
	top:2rem;
	border-radius:5px;
	box-shadow: 0 4px 20px rgba(0,0,0,.3);
	opacity:0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: .4s ease;
}
.dropdown ul li{
	padding:.4rem .8rem;
}
.dropdown ul a{
	color:var(--primary-dark-blue);
	font-weight:300;
}
.dropdown ul a:hover{
	font-weight:700;
}
.dropdown button:hover{
	text-decoration: underline;
}
#myDropdown1.show, #myDropdown2.show, #myDropdown3.show{
	opacity:1;
	transform:translateY(0);
	pointer-events: all;
}
.arrow1,.arrow2,.arrow3{
	transition:.3s ease;
}
.arrow1.rotate,.arrow2.rotate,.arrow3.rotate{
	transform:rotate(-180deg);
}
.cta{
	margin-left:2.5rem;
	transition: .3s ease;
}
.cta.fill{
	background: #fff;
	padding:10px 25px;
	border-radius:50px;
	color:var(--primary-red);
}
.cta.fill:hover{
	background:var(--primary-light-red);
	color:#fff;
}

/*.products button:focus + ul,
.company button:focus + ul,
.connect button:focus + ul{
	opacity:1;
	transform:translateY(0);
	pointer-events: all;
} */
/*herp*/
.hero{
	min-height:80vh;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(images/bg-pattern-intro.svg), var(--intro-cta-gradient);
	background-repeat:no-repeat;
	background-position:25%,center;
	border-bottom-left-radius:6.25rem;
	text-align:center;
	position: relative;
}
.content{
	margin-top: 4rem;
}

.cta.border{
	border:1px solid #fff;
	padding:10px 25px;
	border-radius:50px;
}
.cta.border:hover{
	background:#fff;
	color:var(--primary-red);
}
.hero .main-head, .hero p{
	color:#fff;
}
.hero p{
	margin-top: 1.5rem;
}
.hero .cta-group{
	margin-top: 2rem;
}
.hero .cta-group a{
	margin-left:1rem;
}

/*showcase*/
.showcase{
	padding:0rem 0 0rem 10rem;
	min-height:100vh;
	width:100%;
	position: relative;
	margin-top: 10rem;
}

.showcase .sub-head{
	text-align: center;
}
.showcase .container{
	width:100%;
	height:100%;
}
.showcase-flex, .laptop-flex{
	width:100%;
	height:100%;
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.showcase .description, .laptop .description{
	width:40%;
}
.showcase p, .laptop p{
	margin: 1.3rem 0;
}

.showcase .second{
	margin-top: 3rem;
}
.showcase .img,.laptop .img{
	width:60%;
	min-height:500px;
	position: relative;
}
.showcase img{
	width:100%;
	height:auto;
	position: absolute;
	top:50%;
	left:80%;
	transform: translate(-50%, -50%);

}
.editor-mobile{
	display:none;
}
/*mobiles*/
.mobile{
	min-height:45vh;
	width:100%;
	background:url(images/bg-pattern-circles.svg), var(--background-gradient);
	background-repeat:no-repeat;
	background-position:bottom 15% left -50%;
	position: relative;
	padding: 0rem 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom-left-radius:6.75rem;
	border-top-right-radius:6.75rem;
	margin-top:5rem;
	margin-bottom: 8rem;
}
.mobile .img{
	width:45%;
}
.mobile img{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}

.mobile h1, .mobile p{
	color:#fff;
}
.mobile .description{
	width:45%;
	height:100%;
	
}
.mobile p{
	margin-top: 2rem;
	line-height: 30px
}
/*laptop*/
.laptop{
	min-height: 100vh;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 0 10rem 0 0
}
.laptop img{
	width:130%;
	height:auto;
	position: absolute;
	top:50%;
	left:20%;
	transform: translate(-50%, -50%);
}

/*footer*/
.footer{
	min-height:30vh;
	width:100%;
	padding: 5rem 10rem;
	background:var(--neutral-dark-black-blue);
	border-top-right-radius: 6.75rem;
	margin-top: 5rem;
}
.footer-flex{
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
}
.footer .connect{
	align-self: flex-start;
}
.footer h3{
	color:#fff;
	font-family:'Ubuntu';
	margin-bottom: 1rem;
}
.footer a{
	color:var(--neutral-gray-blue);
}
.footer li{
	margin: .5rem 0;
}
.hamburger{
	display: none;
}
.laptop-mobile{
	display: none;
}

@media screen and (max-width: 1200px){
	header{
		padding: 2rem 5rem;
	}
	.showcase{
		padding-left:5rem;
	}
	.laptop{
		padding-right:5rem;
	}
	.mobile{
		padding:1rem;
	}
	.mobile .description{
		width:40%;
	}
	.mobile .img{
		width:30%;
	}
	.footer{
		padding:3rem 5rem;
	}
}
@media screen and (max-width: 950px){

	:root{
		--main-head:2.3rem;
	}
	body{
		background:#fff;
	}
	header{
		padding: 2rem;
		min-height:10vh;
	}
	.showcase{
		padding:2rem;
		margin-top: 3rem;
	}
	.hero{
		padding:2rem;
	}
	.laptop{
		padding:2rem;
	}
	.mobile{
		padding:1rem;
	}
	.footer{
		padding:4rem 2rem;
	}
	.logo img{
		width: 70%;
	}
	.hamburger{
		display:block;
		width:30px;
		height:25px;
		background: url(images/icon-hamburger.svg) center/cover no-repeat;
		cursor:pointer;
		z-index: 1000000;
		transition:.4s ease;
	}
	.hamburger.active{
		transform:rotate(90deg);
		background:url(images/icon-close.svg) center/cover no-repeat;
		z-index:1000000;
	}
	.wrapper{
		display:none;
	}
	.dropdown{
		display:none;
	}
	header .cta-group{
		display:none;
	}
	.dropdown li{
		margin:0;
		padding:0;
	}
	.wrapper.active{
		position: absolute;
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width:90%;
		min-height:calc(100vh - 12vh);
		top:0;
		left:50%;
		margin-top: 12vh;
		transform: translateX(-50%);
		background:#fff;
		border-radius:5px;
	}
	.dropbtn{
		color:var(--neutral-dark-black-blue);
	}
	.dropdown.active{
		margin-top: 1rem;
		display: flex;
		align-items: center;
		flex-direction:column;
		justify-content: center;
		width:100%;
		text-align: center;	
	}
	.product,.connect,.company{
		margin:0;
		width:100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction:column;
	}
	.dropdown > div{
		margin:.8rem 0;
	}
	header span i {
		color:var(--primary-red);
	}
	#myDropdown1,#myDropdown2,#myDropdown3{
		background:#eee;
		transform: translateY(0);
		margin-top: .2rem;
		top:0;
		box-shadow:0 0 0;
		width:90%;
		transition: 0s;
	}
	#myDropdown1.show, #myDropdown2.show, #myDropdown3.show{
		position: relative;
		transform: translateY(0);
	}
	.wrapper.active .cta-group{
		display:flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-self:center;
		width:90%;
		margin-top: 1rem;
		padding:.5rem;
		border-top: 1px solid #ddd
	}
	.wrapper.active .cta.login{
		color:var(--neutral-dark-black-blue);

	}
	.cta.fill{
		color:#fff;
		background:var(--intro-cta-gradient);
	}

	header .cta{
		margin:.5rem 0;
	}
	.hero{
		min-height:100vh;
		background-position: 35% 35% , center;
		background-size: 400%, cover;
	}
	.hero .cta{
		margin-top: 1rem;
	}
	.hero .cta.fill{
		background:#fff;
		color:var(--primary-red);
	}
	.showcase{
		text-align: center;
	}
	.showcase-flex, .laptop-flex{
	margin-top: .5rem;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
}
.showcase .description, .laptop .description{
	width:100%;
	margin-top: 1rem;
}
.showcase .img,.laptop .img{
	width:100%;
	min-height:200px;
	position: relative;
}
.showcase .description{
	order:2;
}
.showcase .img{
	order:1;
	margin-top: 1rem;
}
.showcase img{
	position: relative;
	top:0%;
	left:50%;
	transform:translate(-50%, -0%);
}
.editor-desktop{
	display: none;
}
.editor-mobile{
	display: flex;
}
.mobile{
	margin-top: 10rem;
	min-height:100vh;
	width:100%;
	background:url(images/bg-pattern-circles.svg), var(--background-gradient);
	background-repeat:no-repeat;
	background-position:center, cover;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	margin-bottom: 2rem;
}
.mobile .img{
	width:100%;
	height:0px;
}
.mobile img{
	position: absolute;
	width:90%;
	top:-50%;
	transform:translateY(50%);
}
.mobile h1, .mobile p{
	color:#fff;
}
.mobile .description{
	width:100%;
	text-align: center;
}
.laptop .description{
	text-align: center;
}
.laptop-desktop{
	display: none;
}
.laptop-mobile{
	display: flex;
}
.laptop img{
	width:100%;
	height:auto;
	position: relative;
	top:0%;
	left:0%;
	transform: translate(0%, 0%);
}
.footer{
	min-height:100vh;
	margin-top: 1rem;
}
.footer-flex > div{
	margin:1.5rem 0;
}
.footer-flex{
	justify-content: space-evenly;
	align-items: center;
	flex-direction:column;
	text-align: center;
}
.footer .connect{
	align-self: center;
}
.footer h3{
	color:#fff;
	font-family:'Ubuntu';
	margin: 1rem 0;
}
.footer a{
	color:var(--neutral-gray-blue);
}
.footer li{
	margin: .5rem 0;
}
}